@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Krona One', sans-serif;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(#422D46, #AF4C6B);

}

header { 

position:absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}

header .logo {
color: white;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;

}

div section  {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
    scroll-snap-align: center;
    user-select: none;
   
}

section  ::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient( to top, #422D46,transparent);
    z-index: 1000;
}

div  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



div  img#sun{

    mix-blend-mode: inherit;
    
}


section img#back {
    z-index: 7;
}
section img#front {
    z-index: 10;
}


#cloud1 {
    position: absolute;
    white-space: nowrap;
    
}

section .s2  {
position: relative;
background: #422D46;
color: white;
z-index: 10;

}

section .s2 {
    position: relative;
    display: inline-block;
    cursor: pointer
}
#sos {
    padding: 100px;
}


h3 {
    font-size: 72px;
    color: #fff;
    font-weight: lighter;
}
