@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Krona One', sans-serif;
}

body 
{
    background: linear-gradient( #87C1CD, #87C1CD);
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo 
{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    
}

#header .navigation 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navigation li 
{
    list-style: none;
    margin-left: 20px;
} 

#header .navigation li a 
{
 text-decoration: none;
 padding: 6px 15px;
 color: #fff;
 border-radius: 20px;
 font-family: 'Open Sans', sans-serif;
}

#header .navigation li a:hover,
#header .navigation li a.active
{
    background: #fff;
    color: #111;
}

section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}


section img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none ;
}


.sec {
    position: absolute;
    background:#db8514;
    z-index: 12;
    
    
}



section img#sun 
{
    
    z-index: 11;
    
}
section img#back 
{
   
    z-index: 11;

}
section img#mount
{
    z-index: 9;
}
section img#front
{ 
    z-index: 11;
}

section img#cloud1
{
    opacity: 55%;
    z-index: 11;
}
section img#cloud2
{
    
    opacity: 55%;
    z-index: 11;
}

section img#cloud11
{
    display: none;
    z-index: 10;
}
section img#cloud22
{
    display: none;
    z-index: 10;
}
.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.seca 
{
     background: #41280a ;
     z-index: 12;
    
}

@media (max-width: 1200px)

{
    
   
    section img
    {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
    pointer-events: none ;
    }
    .sec
    {
    
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    
    
    }
   #header 
   {
    padding: 20px;
   } 
   #header .logo 
   {
    font-size: 1.5em;
   }
   #header .navigation 
   {
    display: none;
   }

   .toggle 
   {
       position: relative;
       width: 50px;
       height: 50px;
       cursor: pointer;
       background: url(assets/menu.png);
       background-size: 40px;
       background-position: center;
       background-repeat: no-repeat;
       z-index: 10;
   }

   .toggle.active
   {
       position: fixed;
       top: 20px;
       right: 20px;
       background: url(assets/close.png);
       background-size: 25px;
       background-position: center;
       background-repeat: no-repeat;
   }

   #header .navigation.active
   {
       position: fixed;
       top: 0;
       left: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 100%;
       height: 100vh;
       background: #87C1CD ;
   }
   #header .navigation li 
   {
       margin-left: 0;
   }
   #header .navigation li a 
   {
       font-size: 1.5em;
       margin: 5px 0;
       border-radius: 30px;
       display: inline-block;
   }
   #header .navigation
   .toggle 
   {
       position: relative;
       width: 50px;
       height: 50px;
       background: url(assets/menu.png);
       background-size: 35px;
       background-position: center;
       background-repeat: no-repeat;
       z-index: 10;
   }
   
    section img#cloud11
    {
        display: block;
        width: 100%;
        height: 90%;
        object-fit: cover;
        opacity: 70%;
        z-index: 10;

    }
    section img#cloud22
    {
        display: block;
        width: 100%;
        height:90%;
        object-fit: cover;
        opacity: 70%;
        z-index: 10;
    }
    section img#sun
    {
        transform: translateY(-300px);
        z-index: 9;
    }
   
}
